.aDefaultDropdown {
  position: absolute;
  top: 34px;
  left: 41.52px;
  line-height: 32px;
  display: inline-block;
  width: 403px;
}
.group2Icon {
  position: absolute;
  height: 12.76%;
  width: 6.32%;
  top: 83.54%;
  right: 42.48%;
  bottom: 3.69%;
  left: 51.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.linkMode {
  top: 0;
  left: 38.82px;
  line-height: 28px;
  text-transform: uppercase;
  display: inline-block;
  width: 405.7px;
}
.b,
.groupChild,
.linkMode {
  position: absolute;
}
.groupChild {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--studio-lightmode-midseparator-dee3eb);
  width: 22.3px;
  height: 24px;
}
.b {
  top: 3.95px;
  left: 7.76px;
  display: inline-block;
  width: 8.19px;
  height: 17.63px;
}
.ellipseParent {
  position: absolute;
  top: 2px;
  left: 0;
  width: 22.3px;
  height: 24px;
  font-size: var(--font-size-sm);
  color: var(--studio-darkmode-maincta-457eff);
  font-family: var(--font-helvetica);
}
.linkModeParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 444.52px;
  height: 28px;
  color: var(--color-darkslategray-100);
}
.aDefaultDropdownHasBeenApParent {
  position: absolute;
  top: 2701.33px;
  left: 60.09px;
  width: 444.52px;
  height: 162px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--studio-darkmode-explainertext-485269);
  font-family: var(--components-button-large);
}
